{{{html}}}

<section class="gh-cta">
    {{#has visibility="paid"}}
        <h4 class="gh-cta-title">This post is for paying users only</h4>
    {{/has}}
    {{#has visibility="members"}}
        <h4 class="gh-cta-title">You'll need to sign in to see this post</h4>
    {{/has}}
    {{#has visibility="filter"}}
        <h4 class="gh-cta-title">This post is only available for specific individuals</h4>
    {{/has}}

    <div class="gh-cta-actions">
        <button class="gh-btn gh-primary-btn" href="#/portal/signin" data-portal="signin">Sign in</button>
    </div>
</section>