{{{html}}}

<section class="gh-cta">
    <h4 class="gh-cta-title">This page is only available for certain individuals</h4>

    <div class="gh-cta-actions">
        <button class="gh-btn gh-primary-btn" href="#/portal/signin" data-portal="signin">Sign in</button>
    </div>
</section>