{{!< default}}

<main class="gh-main gh-outer">
    <div class="gh-inner gh-canvas">
        <article class="gh-article post no-image">
            <header class="gh-article-header">
                <h1 class="gh-article-title">Page not found</h1>
                <p class="gh-article-excerpt">The requested URL does not exist on this site</p>
            </header>

            <section class="gh-content">
                <p>If you expected to see a page, double check the URL in your address bar or contact the site's owner.</p>
                <div class="kg-card kg-button-card kg-align-left"><a href="{{@site.url}}" class="kg-btn kg-btn-accent">Go to home page</a></div><p></p>
            </section>
        </article>
    </div>
</main>
